@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground: #ededed;*/
/*    --background: #0a0a0a;*/
/*  }*/
/*}*/

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.fade-in {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.btn-primary {
  @apply bg-blue-600 hover:bg-blue-800 text-white py-2 px-4 rounded transition-all;
}

.btn-secondary {
  @apply bg-gray-200 hover:bg-gray-300 text-black py-2 px-4 rounded transition-all;
}

.btn-active{
  @apply flex w-full sm:w-1/2 justify-center py-2 px-4 rounded transition-all
  bg-blue-600 hover:bg-blue-800 text-white;
}

.btn-disabled {
  @apply flex w-full sm:w-1/2 justify-center py-2 px-4
  rounded transition-all bg-gray-300 text-gray-500 cursor-not-allowed;
}